{% extends "HOME/layout.html" %}
{% block body %}
{%load static%}
<section>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in ultimos3 %}
           
            <div class="col " style="text-align: justify; ">
                <div class="card bg-dark text-white" style="width:340px; height:225px;">
                    <img src="{{producto.imagen.url}}" class="card-img" alt="..." style="width:340px; height:225px;" />
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{producto.titulo}}</h3>
                        <p class="card-text small">{{producto.descripcion}}</p>                    
                        <div class="d-grid gap-1">
                            <h8 >Precio: $ {{producto.precio}}</h8>
                            <a href="{% url 'producto' producto.id %}" class="mb-auto btn btn-primary btn-rounded me-2 btn-sm">VER</a>
                        </div>
                    </div>
                </div>
            </div>           
        {% endfor %}     
    </section>

<section class="border p-4 d-flex justify-content-center mb-4">
    <ul class="list-group" style="min-width: 22rem;">
      <li class="list-group-item active" aria-current="true" style="text-align: center">Mas productos</li>
      {% for producto in resto %}
      <li class="list-group-item"><a href="{% url 'producto' producto.id %}"><strong> + {{producto.titulo}} : </strong> {{producto.descripcion}} -
        {{producto.categoria}} </a></li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
